@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --font-display: "Inter", sans-serif;
}

/* Setup dasar agar Material Icons muncul dengan benar */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-background-dark); /* Default ke dark mode sesuai desainmu */
}